.forsideProdukterStyle {
    width:40%;
    margin: 0 auto;
}

.forsideProdukterStyle .forsideProdukterOverskrift {
    margin-top:150px;
    text-align: center;
}

.forsideProdukterStyle .forsideProdukterOverskrift .produktoverskrift {

    font-family: "Lobster 1.4";
    font-size: 48px;
}

.forsideProdukterStyle .forsideProdukterOverskrift .underProduktoverskrift {
    color: #898989;
    margin:50px 0;
}


.forsideProdukterStyle .forsideProduktHolder {
    width:100%;
    margin-bottom:150px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.forsideProdukterStyle .forsideProduktHolder .produktItemHolder {
    width: 20%;
    margin:10px;

}

.forsideProdukterStyle .forsideProduktHolder .produktItemHolder .nameItemHolder {
    height: 80px;
    text-align: center;
    overflow: hidden;
 
    }

.forsideProdukterStyle .forsideProduktHolder .produktItemHolder img{
    display: block;
    width:100%;
    height: 95px;

}

.forsideProdukterStyle .forsideProduktHolder .produktItemHolder .teaserItemHolder {
    height: 75px;
    overflow: hidden;
}


.forsideProdukterStyle .forsideProduktHolder .produktItemHolder .moreInfoItemButton {
    text-align: center;
    border: 2px solid #a8a8a8;
    align-items: baseline;
    margin-top:15px;

    padding: 10px 0;

    cursor: pointer;
}


.forsideProdukterStyle .forsideProduktHolder .produktItemHolder .moreInfoItemButton a {
 text-decoration: none;
 display: block;
}