.footerStyle {
    width: 100%;
    position: relative;
}

.footerStyle .topButton {
    width: 50px;
    height: 50px;

    background-color: #f4f4f4;
    border-radius: 100%;

    margin: 0 auto;

    position: absolute;
    top: -25px;
    left: 50%;

    transform: translateX(-50%);

    cursor: pointer;
    text-align: center;

}

.footerStyle .topButton img {
    width: 70%;
    transform: rotate(270deg);
    margin-top:5px;
}


.footerStyle .topFooter {
    background-color: #333333;
    color: #848484;
    text-align: center;

}


.footerStyle .topFooter div {
    padding: 20px 0px;
}

.footerStyle .topFooter .footerLogo {
    font-family: "Lobster 1.4";
    font-size: 60px;
    color: white;
    text-decoration: none;
}

.footerStyle .topFooter .footerText {
    padding-bottom: 20px;
}


.footerStyle .lowFooter {
    background-color: #252525;
}

.footerStyle .lowFooter .lowContent {
    width: 40%;
    margin: 0 auto;

    color: #848484;
    text-align: center;
    padding: 20px 0;

    font-size: 11px;
    font-family: 'open-sans', light;
}