.aboutStyle {
    width: 40%;
    margin: 0 auto;
}

.aboutStyle .overskrift {
    font-family: "Lobster 1.4";
    text-align: center;
    font-size: 36px;
    margin-top:100px;
}

.aboutStyle .underOverSkrift {
    width:90%;
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    margin-top:50px;
    
}

.aboutStyle .forsideNyhedsDiv {
    width:100%;
    min-height:10px;


    margin:150px 0;
    display: flex;
    justify-content: space-between;
}


.aboutStyle .forsideNyhedsDiv .newsItemHolder {
    width:30%;
}

.aboutStyle .forsideNyhedsDiv .newsItemHolder img {
    border-radius: 100%;
    display: block;
    width:100%;
}

.aboutStyle .forsideNyhedsDiv .newsItemHolder .newsItemHolderTitle {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top:25px;
    height: 100px;
}

.aboutStyle .forsideNyhedsDiv .newsItemHolder .newsItemHolderBeskrivelse {
    text-align: center;
    overflow: hidden;
    height: 50px;
    color: #898989;
}